<!DOCTYPE html>
<html>
  <head>
    <title>(っ＾ω＾ｃ)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>

  <body>
    
    <nav class="orange darken-2" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/home/index" class="brand-logo">(っ＾ω＾ｃ)</a>
        
        <ul class="right hide-on-med-and-down">
          <li><a href="/events/new">イベント作成</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/events/index">イベント一覧</a></li>
        </ul>
        
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
