<!DOCTYPE html>
<html>
  <head>
    <title>(っ＾ω＾ｃ)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>

  <body>
    <div class="container">
      <h1>COLORS</h1>
      <div class="red white-text">aaaaa</div>
      <div class="blue white-text">aaaaa</div>
      <div class="deep-purple white-text">aaaaa</div>
      
      <h1>BUTTONS</h1>
      <button class="btn">Read More</button>
      <button class="btn waves-effect">Read More</button>
      <button class="btn btn-large">Read More</button>
      <button class="btn disabled">Read More</button>
      <button class="btn btn-large red darken-3 white-text">Read More</button>
      <button class="btn btn-large blue">Read More</button>
      <button class="btn btn-large green">Read More</button>
      <button class="btn btn-large purple">Read More</button>
      <button class="btn btn-large black">Read More</button>
      
      <button class="btn btn-large"><i class="material-icons left">cloud</i>Read More</button>
      
      <a href="#" class="btn-floating red btn-large"><i class="large material-icons">add</i></a>
      
      <div class="fixed-action-btn">
        <a href="#" class="btn-floating red btn-large"><i class="large material-icons">mode-edit</i></a>
        <ul>
          <li>
            <a href="#" class="btn-floating yellow btn-large"><i class="large material-icons">insert_chart</i></a>
          </li>
          
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
